<!DOCTYPE html>

<html>
   <head>
      <title>Timestamp Microservice | freeCodeCamp.org</title>
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <h1><span id="timestamp">Timestamp</span>Microservice</h1>
    <hr />
    <div class="container">
        <div class='item'>
          <h3>Valid date</h3>
          <h4>Request</h4>
          <code style='background-color: #545350; color: white'>GET /api/3021-10-28</code>
          <h4>Response</h4>
          <code style="background-color: #545350; color: white">{"unix":33192288000000, "utc":"Sun, 28 Oct 3021 00:00:00 GMT"}</code>
          <a href="api/3021-10-28/">Try it</a>
        </div>
        <div class='item'>
          <h3>Unix timestamp</h3>
          <h4>Request</h4>
          <code style='background-color: #545350; color: white'>GET /api/1640908800000</code>
          <h4>Response</h4>
          <code style='background-color: #545350; color: white'>{"unix":1640908800000, "utc":"Fri, 31 Dec 2021 00:00:00 GMT"}</code>
          <a href="/api/1640908800000">Try it</a>
        </div>
        <div class='item'>
          <h3>Current date (empty param)</h3>
          <h4>Request</h4>
          <code style='background-color: #545350; color: white'>GET /api/</code>
          <h4>Response</h4>
          <code style='background-color: #545350; color: white'>{"unix": 1635439481334, "utc":"Thu, 28 Oct 2021 16:44:41 GMT"}</code>
          <a href="api/">Try it</a>
        </div>
        <div class='item'>
          <h3>Invalid date</h3>
          <h4>Request</h4>
          <code style='background-color: #545350; color: white'>GET /api/2021-13-28</code>
          <h4>Response</h4>
          <code style='background-color: #545350; color: white'>{"unix":null, "utc":"Invalid Date"}</code>
          <a href="/api/2021-13-28">Try it</a>
        </div>

    </div>
    <!--
    <h3>Example Usage:</h3>
    <ul>
      <li><a href="api/2015-12-25">[project url]/api/2015-12-25</a></li>
      <li><a href="api/1451001600000">[project url]/api/1451001600000</a></li>
    </ul>

    <h3>Example Output:</h3>
    <p>
      <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
    </p>
  </div>
  <div class="footer">
    <p>
      By <a href="https://www.freecodecamp.org/">freeCodeCamp.org</a>
    </p>
  -->
  </body>
</html>
