/****** Main Styling ******/

body {
	font-family: 'Arial', sans-serif;
	font-size: 16px;
	color: #222;
	background-color: #FaFaFa;
	text-align: center;
	line-height: 1.4em;
	width: 100%;
	background-color: black;
	color: #ffffff;
}

#timestamp {
	color: green;
}
.container {
	padding: 0;
	margin-top: 40px;
  width: 80%;
  margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 1em;
	font-size: 0.8em;
	text-align: left;
}
.container .item {
	border: solid green;
	padding:1.5em;
	display: flex;
	flex-direction: column;
}
code {
	background-color: white;
	color: red;
}
h3 {
  margin-top: 30px;
}

hr {
	margin: 25px;
}

.footer {
	margin-top: 40px;
}

code {
  font-family: monospace;
  padding: 2px;
  color: black;
  background-color: #fff;
}

ul {
	list-style-type: none;
}

li {
  margin-bottom: 0.5em;
}

a {
	color: #2574A9;
}
